
body{
	font-family: 'Roboto', sans-serif;
	background-image:url(imagenes/fondo.jpg);
	background-image: cover;
}
#menu{
	display: block;
	padding: 40px 40px 40px;
	font-size: 20px;
	margin:0;
	height: auto;
	width: auto;
	position: relative;

	background-color:#8E09A6;
}

#menu ul{
		list-style:none;
		margin:0;
		padding:0;
}

#menu ul li{

	display: inline-block;

}

#menu ul li a{
		color:white;
		display:block;
		padding:10px 20px;
		text-decoration:none;
}

#menu ul li a:hover{
	background-color: #42B881;
}
.item-r{
		float:right;
}

footer{
	text-align: center;
	display:block;
	border-radius: 0;
	margin:0;
	padding: 50px 50px 50px;
	height: auto;
	width: auto;
	position: relative;
	background-color:#8E09A6;
}
span{
	text-align: center;
}

	      
h2{
	text-align: relative;
}
